#############
# Output
#############

output top_level{
    output CaloTopoClusters{
        algorithm = WorseCasesSummary

        output AllClusters{
            output Expert{
            } # Expert

        } # AllClusters

        output CalBAR{
        } # CalBAR

        output CalECA{
        } # CalECA

        output CalECC{
        } # CalECC

    } # CaloTopoClusters

} # output top_level

######################
# Histogram Assessment
######################

dir CaloTopoClusters{
    algorithm = METGatherData
    reference = CentrallyManagedReferences

    dir AllClusters{
        dir Expert{
            output = CaloTopoClusters/AllClusters/Expert

            hist = AveLARQ{
                algorithm = METChisq
                display = StatBox
            }
            hist = AveTileQ{
                algorithm = METChisq
                display = StatBox
            }
            hist = BadLARQFrac{
                algorithm = METChisq
                display = StatBox
            }
            hist = EBadCells{
                algorithm = METChisq
                display = StatBox
            }
            hist = EngPos{
                algorithm = METChisq
                display = StatBox
            }
            hist = HotRat{
                algorithm = METChisq
                display = StatBox
            }
            hist = HotRat_vs_clusterPhi_vs_clusterEta{
                algorithm = METChisq
                display = StatBox
            }
            hist = clusterE_vs_clusterTime{
                algorithm = METChisq
                display = StatBox
            }
            hist = clusterIsol{
                algorithm = METChisq
                display = StatBox
            }
            hist = clusterTime{
                algorithm = METChisq
                display = StatBox
            }
            hist = nBadCells{
                algorithm = METChisq
                display = StatBox
            }
            hist = nBadCells_vs_clusterPhi_vs_clusterEta{
                algorithm = METChisq
                display = StatBox
            }
            hist = nCells{
                algorithm = METChisq
                display = StatBox
            }
            hist = nCells_vs_clusterPhi_vs_clusterEta{
                algorithm = METChisq
                display = StatBox
            }
            hist = vHotRatE{
                algorithm = METChisq
                display = StatBox
            }
            hist = vHotRatOcc{
                algorithm = METChisq
                display = StatBox
            }
        } # Expert


        output = CaloTopoClusters/AllClusters

        hist = clusterE{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterET{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterET_vs_clusterEta{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterET_vs_clusterPhi{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterET_vs_clusterPhi_vs_clusterEta{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterE_vs_clusterEta{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterE_vs_clusterPhi{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterE_vs_clusterPhi_vs_clusterEta{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterEta{
            algorithm = METChisq
            display = StatBox
        }
        hist = clusterPhi{
            algorithm = METChisq
            display = StatBox
        }
        hist = nClusters{
            algorithm = METChisq
            display = StatBox
        }
    } # AllClusters


    dir CalBAR{
        output = CaloTopoClusters/CalBAR

        hist = Thresh0BAROcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh1BAROcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh2BAROcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh3BAROcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh4BAROCc{
            algorithm = METChisq
            display = StatBox
        }
    } # CalBAR


    dir CalECA{
        output = CaloTopoClusters/CalECA

        hist = Thresh0ECAOcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh1ECAOcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh2ECAOcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh3ECAOcc{
            algorithm = METChisq
            display = StatBox
        }
    } # CalECA


    dir CalECC{
        output = CaloTopoClusters/CalECC

        hist = Thresh0ECCOcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh1ECCOcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh2ECCOcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh3ECCOcc{
            algorithm = METChisq
            display = StatBox
        }
        hist = Thresh4ECCOcc{
            algorithm = METChisq
            display = StatBox
        }
    } # CalECC


} # CaloTopoClusters


