#############
# Output
#############

output top_level {
    output PFOs {
        algorithm = WorseCasesSummary

        output AllPFOs {
        } # AllPFOs

        output ChargedPFOs {
        } # ChargedPFOs

        output NeutralPFOs {
        } # NeutralPFOs

    } # PFOs

} # output top_level

######################
# Histogram Assessment
######################

dir PFOs {
    algorithm = METGatherData
    reference = CentrallyManagedReferences

    dir AllPFOs {
        output = PFOs/AllPFOs

        hist nPFOs {
            algorithm = METChisq
            display = StatBox
        }
        hist pfoE {
            algorithm = METChisq
            display = StatBox
        }
        hist pfoE_vs_pfoPhi_vs_pfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist pfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist pfoMass {
            algorithm = METChisq
            display = StatBox
        }
        hist pfoPhi {
            algorithm = METChisq
            display = StatBox
        }
        hist pfoPhi_vs_pfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist pfoRapidity {
            algorithm = METChisq
            display = StatBox
        }
        hist pfopT {
            algorithm = METChisq
            display = StatBox
        }
        hist pfopT_vs_pfoPhi_vs_pfoEta {
            algorithm = METChisq
            display = StatBox
        }
    } # AllPFOs


    dir ChargedPFOs {
        output = PFOs/ChargedPFOs

        hist ChpfoDenseEnv {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoE {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoE_vs_ChpfoPhi_vs_ChpfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoE_vs_ChpfoPhi_vs_ChpfoExpE {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoExpE {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoMass {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoPhi {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfoPhi_vs_ChpfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfopT {
            algorithm = METChisq
            display = StatBox
        }
        hist ChpfopT_vs_ChpfoPhi_vs_ChpfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist DenseEnvFlagE {
            algorithm = METChisq
            display = StatBox
        }
        hist DenseEnvFlagEtaPhi {
            algorithm = METChisq
            display = StatBox
        }
        hist nChPFOs {
            algorithm = METChisq
            display = StatBox
        }
    } # ChargedPFOs


    dir NeutralPFOs {
        output = PFOs/NeutralPFOs

        hist NupfoAvgLarQ {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoBadLarQFrac {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoCenterLambda {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoE {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoEBadCells {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoEMProb {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoEPos {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoE_vs_NupfoPhi_vs_NupfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoIsolation {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoMass {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoNBadCells {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoPhi {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoPhi_vs_NupfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoRapidity {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoSecondLambda {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfoSecondR {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfopT {
            algorithm = METChisq
            display = StatBox
        }
        hist NupfopT_vs_NupfoPhi_vs_NupfoEta {
            algorithm = METChisq
            display = StatBox
        }
        hist nNuPFOs {
            algorithm = METChisq
            display = StatBox
        }
    } # NeutralPFOs


} # PFOs


